.gohls
.DS_Store
.sass-cache
/build
ui/src/build
node_modules
videos
buildinfo.go
rice-box.go
LOCAL_NOTES.txt
gohls-config.json

# ignore logfiles
/logs/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
gohls
